.conatiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* The menu-block is the side gray bar that you see */
.menu-block {
  width: 15%;
  background-color: grey;
  color: white;
  padding: 4%;
  /* 100vh height takes the whole one page */
  height: 100vh;
}
.board-container {
  width: 80%;
  padding: 2%;
}
input {
  padding: 1%;
  border: 1px solid;
  width: 80%;
}
#add-board-btn {
  background-color: green;
  padding: 10px;
  color: white;
  border: 0;
}
.input-board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
